<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934230207045-33lpf7hgq1u21p1p40r1uboo0bcsg5uo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934230207045-33lpf7hgq1u21p1p40r1uboo0bcsg5uo</string>
	<key>API_KEY</key>
	<string>AIzaSyAWD8rnvb2JBxD7yNcOM5IiTXrbG_xxPL4</string>
	<key>GCM_SENDER_ID</key>
	<string>934230207045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.angemadeit.fibi</string>
	<key>PROJECT_ID</key>
	<string>fibi-analytics</string>
	<key>STORAGE_BUCKET</key>
	<string>fibi-analytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934230207045:ios:f7b8d3a5cf25554aeb512c</string>
</dict>
</plist>