/*.myBorder{
    border: 20px;
}

.myWidth{
    width: '10px';
}*/

.colorBlue{
    color: blue;
}

.arrangeRow{
    display: flex;
    flex-direction: row;
}

.container{
    flex: auto;
}

.MarginTop{
    margin-top: 5px;
}